@media (prefers-reduced-motion: reduce) {
  .textsection__header1 {
    animation: none !important;
  }
  .textsection__header2 {
    animation: none !important;
  }
  .unsg__frog {
    animation: none !important;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(/CA3/assets/SVGs/bgimg.svg);
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
}

html {
  scroll-snap-type: block; /* applied to main document scroller */
}

h1,
h2,
p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1vw;
}

.textsection {
  position: relative;
  height: 100vh;
  padding: 20% 20%;
  scroll-snap-align: center;
}
.textsection__header1 {
  text-align: center;
  font-size: 5vw;
  animation: heading1 4s;
  padding: 20% 20%;
}
.textsection__header2 {
  text-align: center;
  font-size: 3vw;
  animation: break-message 1s forwards;
  padding: 15% 10%;
}

.infotext {
  scroll-snap-align: start;
  position: relative;
  text-align: center;
  padding: 2%;
  font-size: 2.5vw;
}
.infotext--2 {
  position: relative;
  font-size: 1.5vw;
  text-align: center;
}

.emphasized-text {
  font-weight: bold;
  color: rgb(235, 94, 94);
  text-shadow: 2px 2px 2px rgb(26, 25, 25);
  font-style: normal;
}

.spacer {
  height: 100px;
}

.introduction {
  position: relative;
  height: 100vh;
  padding: 20% 20%;
}

.important {
  position: relative;
  height: 100vh;
}
.important h2 {
  animation: heading1 2s;
}
.important__frog--1 {
  position: absolute;
  width: 10vw;
  left: 10vw;
  top: 30vw;
  z-index: 1;
  opacity: 0;
  animation: enter-frog1 1s 1s, bounce-frog1 1.5s 5s infinite;
  animation-fill-mode: forwards;
}
.important__frog--2 {
  position: absolute;
  width: 10vw;
  left: 85vw;
  top: 30vw;
  z-index: 2;
  opacity: 0;
  animation: enter-frog2 2s 3s, bounce-frog2 1.5s 4s infinite;
  animation-fill-mode: forwards;
}
.important__frog--3 {
  position: absolute;
  width: 10vw;
  left: 75vw;
  top: 30vw;
  z-index: 2;
  opacity: 0;
  animation: enter-frog3 1s 2.5s, bounce-frog3 1.7s 5s infinite;
  animation-fill-mode: forwards;
}
.important__frog--4 {
  position: absolute;
  width: 10vw;
  left: 25vw;
  top: 30vw;
  z-index: 1;
  opacity: 0;
  animation: enter-frog4 1s 2.5s, bounce-frog4 1.7s 5s infinite;
  animation-fill-mode: forwards;
}
.important__frog--5 {
  position: absolute;
  width: 10vw;
  left: 15vw;
  top: 30vw;
  z-index: 1;
  opacity: 0;
  animation: enter-frog5 2s 3s, bounce-frog5 1.6s 4s infinite;
  animation-fill-mode: forwards;
}
@keyframes enter-frog1 {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(100%) translateY(-200%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes enter-frog2 {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(-150%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes enter-frog3 {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes enter-frog4 {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(100%) translateY(-100%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes enter-frog5 {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(200%) translateY(-100%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounce-frog1 {
  0%, 100% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-80%);
    opacity: 1;
  }
  15% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes bounce-frog2 {
  0%, 100% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-100%);
    opacity: 1;
  }
  15% {
    transform: translate(0%);
    opacity: 1;
  }
}
@keyframes bounce-frog3 {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-100%);
    opacity: 1;
  }
  15% {
    transform: translateY(0%) translateX(25%);
    opacity: 1;
  }
  50% {
    transform: translateY(0%) translateX(25%);
    opacity: 1;
  }
  80% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce-frog4 {
  0%, 100% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-150%);
    opacity: 1;
  }
  15% {
    transform: translate(0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(-200%);
    opacity: 1;
  }
}
@keyframes bounce-frog5 {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-100%);
    opacity: 1;
  }
  15% {
    transform: translateY(0%) translateX(25%);
    opacity: 1;
  }
  50% {
    transform: translateY(0%) translateX(25%);
    opacity: 1;
  }
  80% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ecosystem {
  position: relative;
  height: 100vh;
}
.ecosystem h2 {
  animation: heading1 2s;
}
.ecosystem__frog--apear {
  position: absolute;
  width: 10vw;
  left: 43vw;
  top: 22vw;
  z-index: 2;
  opacity: 0;
  animation: enter 0.5s forwards;
}
.ecosystem__pond-leaf {
  position: absolute;
  width: 12vw;
  left: 42vw;
  top: 25vw;
  z-index: 1;
}
.ecosystem__pond {
  position: absolute;
  z-index: -1;
  width: 60vw;
  left: 20vw;
  top: 15vw;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ecosystem__algae1 {
  position: absolute;
  width: 5vw;
  top: 24vw;
  right: 35vw;
  opacity: 1;
  animation: fadeOut 0.5s 4s ease-in-out forwards;
}
.ecosystem__algae2 {
  position: absolute;
  top: 24vw;
  width: 10vw;
  right: 63vw;
  opacity: 1;
  transform: rotate(140deg);
  animation: fadeOut 0.5s 3s ease-in-out forwards;
}
.ecosystem__algae3 {
  position: absolute;
  top: 30vw;
  width: 17vw;
  right: 50vw;
  opacity: 1;
  animation: fadeOut 0.5s 5s ease-in-out forwards;
}
@keyframes flyAround {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(4vw, 4vh);
  }
  100% {
    transform: translate(4vw, 0);
    opacity: 0;
  }
}
.ecosystem__mosquito--1 {
  position: absolute;
  top: 10vh;
  right: 40vw;
  width: 4vh;
  animation: flyAround 7s linear forwards;
}
.ecosystem__mosquito--2 {
  position: absolute;
  right: 20vw;
  width: 4vh;
  animation: flyAround 5s linear forwards;
}
.ecosystem__mosquito--3 {
  position: absolute;
  right: 70vw;
  width: 4vh;
  animation: flyAround 4s linear forwards;
}
.ecosystem__mosquito--4 {
  position: absolute;
  top: 30vh;
  right: 40vw;
  width: 4vh;
  animation: flyAround 5s linear forwards;
}
.ecosystem__mosquito--5 {
  position: absolute;
  top: 40vh;
  right: 70vw;
  width: 4vh;
  animation: flyAround 6s linear forwards;
}
@keyframes moveArch {
  0% {
    transform: translateX(1800px) translateY(0);
  }
  100% {
    transform: translateX(-200px) translateY(100px);
  }
}
.ecosystem__bird {
  width: 10vw;
  left: -10vw;
  animation: moveArch 5s forwards linear;
}

.challenges {
  height: 100vh;
  position: relative;
}

@keyframes break-message {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(0);
  }
}
.habitat-loss {
  position: relative;
  height: 110vh;
}
.habitat-loss__heading1 {
  opacity: 0;
  animation: heading1 2s;
  animation-fill-mode: forwards;
}
@keyframes heading1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.habitat-loss__pond {
  width: 45vw;
  position: absolute;
  left: 10vw;
  top: 15vw;
  z-index: -1;
  opacity: 0;
  animation: sucked-in;
  animation-duration: 7s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.habitat-loss__pond-leaf {
  max-width: 12vw;
  position: absolute;
  left: 20vw;
  top: 24vw;
  z-index: 0;
  opacity: 0;
  animation: sucked-in 5s 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes sucked-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}
.habitat-loss__road {
  width: 45vw;
  position: absolute;
  top: 9vw;
  z-index: 2;
  opacity: 0;
  animation: road;
  animation-duration: 2s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}
@keyframes road {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.habitat-loss__frog1 {
  width: 10vw;
  position: absolute;
  left: 21vw;
  top: 21vw;
  z-index: 3;
  opacity: 0;
  animation: enter 0.6s 3s, bounce 1s 5s, escape 0.6s 7s;
  animation-fill-mode: forwards;
}
.habitat-loss__frog1 #mouth--s2f1 {
  animation: changeMouthShocked 3s 6s, changeMouth 1s 8s;
  animation-fill-mode: forwards;
}
@keyframes changeMouthShocked {
  0% {
    d: path("M47.64,19.19s15.72,5.62,31.45,0");
  }
  100% {
    d: path("M64.64,44.68s-17.68,-15.49,-31.45,0A25,25 0 1,1 96.14 44.68s-17.68,15.49,-31.45,0Z");
  }
}
@keyframes changeMouth {
  0% {
    d: path("M47.64,19.19s15.72,5.62,31.45,0");
  }
  100% {
    d: path("M47.64,19.19s15.72,-5.62,31.45,0");
  }
}
@keyframes enter {
  0% {
    transform: translateX(-350%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    transform: translateX(-50%) translateY(-200%);
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-80%);
    opacity: 1;
  }
  15% {
    transform: translate(0%);
    opacity: 1;
  }
}
@keyframes escape {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translateY(-200%) translateX(45vw);
  }
  100% {
    transform: translate(50vw);
    opacity: 1;
  }
}
.habitat-loss__building1 {
  width: 6vw;
  position: absolute;
  top: 9vw;
  left: 25vw;
  z-index: 4;
  opacity: 0;
  animation: buildings 2s 10s;
  animation-fill-mode: forwards;
}
.habitat-loss__building2 {
  width: 6vw;
  position: absolute;
  top: 5vw;
  left: 15vw;
  z-index: 4;
  opacity: 0;
  animation: buildings 2s 10s;
  animation-fill-mode: forwards;
}
.habitat-loss__building3 {
  width: 6vw;
  position: absolute;
  top: 9vw;
  left: 8vw;
  z-index: 3;
  opacity: 0;
  animation: buildings 2s 10s;
  animation-fill-mode: forwards;
}
.habitat-loss__building4 {
  opacity: 0;
  width: 8vw;
  position: absolute;
  top: 3vw;
  left: 17vw;
  z-index: 3;
  opacity: 0;
  animation: buildings 2s 10s;
  animation-fill-mode: forwards;
}
@keyframes buildings {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pollution {
  position: relative;
  height: 110vh;
}
.pollution__heading2 {
  opacity: 0;
  animation: heading1 2s;
  animation-fill-mode: forwards;
}
.pollution__frog2 {
  width: 10vw;
  position: absolute;
  right: 21vw;
  top: 30vw;
  z-index: 2;
  opacity: 0;
  opacity: 0;
  animation: enter2 0.6s 2s, bounce2 1.5s 4s 2;
  animation-fill-mode: forwards;
}
@keyframes enter2 {
  0% {
    opacity: 0;
    transform: translateX(400%);
  }
  60% {
    opacity: 1;
    transform: translateY(-300%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-100%);
    opacity: 1;
  }
  15% {
    transform: translate(0%);
    opacity: 1;
  }
}
.pollution__car {
  opacity: 0;
  width: 60vw;
  position: absolute;
  top: 15vw;
  z-index: 1;
  opacity: 0;
  animation: car 3.5s 6s;
  animation-fill-mode: forwards;
}
@keyframes car {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 1;
  }
}
.pollution__pollution1 {
  opacity: 0;
  width: 20vw;
  position: absolute;
  left: 10vw;
  top: 25vw;
  z-index: 2;
  opacity: 0;
  animation: cloud 8s 7s;
  animation-fill-mode: forwards;
}
.pollution__pollution2 {
  opacity: 0;
  width: 30vw;
  position: absolute;
  left: 30vw;
  top: 20vw;
  z-index: 2;
  animation: cloud 8s 7s;
  animation-fill-mode: forwards;
}
.pollution__pollution3 {
  opacity: 0;
  width: 35vw;
  position: absolute;
  left: 45vw;
  top: 20vw;
  z-index: 2;
  animation: cloud 8s 7s;
  animation-fill-mode: forwards;
}
@keyframes cloud {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.8;
    transform: translateX(150%);
  }
  100% {
    opacity: 0;
    transform: translateX(150%);
  }
}
.pollution #mouth--s2f2 {
  animation: changeMouth 1s 6s;
  animation-fill-mode: forwards;
}
.pollution #eye--left--polluted,
.pollution #eye--right--polluted {
  animation: eyeColorChange 1s 11s;
  animation-fill-mode: forwards;
}
@keyframes eyeColorChange {
  0% {
    fill: #fff;
  }
  50% {
    fill: #9c7373;
  }
  100% {
    fill: #843b3b;
  }
}
.pollution #body--polluted {
  animation: bodyColorChange 1s 12s;
  animation-fill-mode: forwards;
}
@keyframes bodyColorChange {
  0% {
    fill: #9fd18f;
  }
  50% {
    fill: #7c7c7c;
  }
  100% {
    fill: #747474;
  }
}

.disease {
  position: relative;
  height: 100vh;
}
.disease__heading3 {
  opacity: 0;
  animation: heading3 2s;
  animation-fill-mode: forwards;
}
@keyframes heading3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.disease__frog3 {
  width: 10vw;
  position: absolute;
  left: 25vw;
  top: 30vw;
  z-index: 1;
  opacity: 0;
  animation: enter3 1s 5s, bounce3 1.7s 10s infinite;
  animation-fill-mode: forwards;
}
@keyframes enter3 {
  0% {
    transform: translateX(-400%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 1;
    transform: translateX(-300%) translateY(-200%);
  }
  40% {
    opacity: 1;
    transform: translateX(-200%) translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateX(-100%) translateY(-200%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounce3 {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-100%);
    opacity: 1;
  }
  15% {
    transform: translateY(0%) translateX(25%);
    opacity: 1;
  }
  50% {
    transform: translateY(0%) translateX(25%);
    opacity: 1;
  }
  80% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.disease__sick1 {
  width: 10vw;
  position: absolute;
  left: 40vw;
  top: 30vw;
  z-index: 1;
  opacity: 0;
  animation: enter-sick1 1s 1s, bounce2 1.5s 6s infinite;
  animation-fill-mode: forwards;
}
@keyframes enter-sick1 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(-200%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.disease__sick2 {
  width: 10vw;
  position: absolute;
  left: 55vw;
  top: 30vw;
  z-index: 2;
  opacity: 0;
  animation: enter-sick2 1.5s 3s, bounce4 1.7s 5s infinite;
  animation-fill-mode: forwards;
}
@keyframes enter-sick2 {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(-300%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounce4 {
  0%, 100% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-150%);
    opacity: 1;
  }
  15% {
    transform: translate(0%);
    opacity: 1;
  }
  50% {
    transform: translate(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(-200%);
    opacity: 1;
  }
}
.disease__sick3 {
  width: 10vw;
  position: absolute;
  left: 67vw;
  top: 30vw;
  z-index: 2;
  opacity: 0;
  animation: enter-sick3 1s 2s, bounce 1.4s 5s infinite;
  animation-fill-mode: forwards;
}
@keyframes enter-sick3 {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(-400%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.disease__sick4 {
  width: 10vw;
  position: absolute;
  left: 75vw;
  top: 30vw;
  z-index: 2;
  opacity: 0;
  animation: enter-sick4 1s 2.5s, bounce4 1s 4.5s infinite;
  animation-fill-mode: forwards;
}
@keyframes enter-sick4 {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(-100%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.disease__sick5 {
  width: 10vw;
  position: absolute;
  left: 80vw;
  top: 30vw;
  z-index: 2;
  opacity: 0;
  animation: enter-sick4 2s 3s, bounce4 1.3s 5s infinite;
  animation-fill-mode: forwards;
}
@keyframes enter-sick5 {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(-150%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.disease #eye--left--sick,
.disease #eye--right--sick {
  animation: eyeColorChangeSick 1s 8s;
  animation-fill-mode: forwards;
}
@keyframes eyeColorChangeSick {
  0% {
    fill: #fff;
  }
  50% {
    fill: #9c7373;
  }
  100% {
    fill: #c55252;
  }
}
.disease #cheek--left--sick,
.disease #cheek--right--sick {
  animation: cheekChangeSick 0.5s 9s;
  animation-fill-mode: forwards;
}
@keyframes cheekChangeSick {
  0% {
    fill: #fff;
  }
  50% {
    fill: #9c7373;
  }
  100% {
    fill: #dd5827;
  }
}
.disease #body--sick {
  animation: bodyColorChangeSick 2s 9s;
  animation-fill-mode: forwards;
}
@keyframes bodyColorChangeSick {
  0% {
    fill: #9fd18f;
  }
  50% {
    fill: #d68f49;
  }
  100% {
    fill: #c5d11b;
  }
}
.disease #mouth--s2f3 {
  animation: changeMouth 2s 10s;
  animation-fill-mode: forwards;
}

.apocalypse {
  position: relative;
  height: 110vh;
}
.apocalypse__background-change {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  animation: background-death 14s 2s;
  animation-fill-mode: forwards;
}
@keyframes background-death {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: rgba(29, 31, 51, 0.7);
  }
  40% {
    background-color: rgba(142, 27, 27, 0.7);
  }
  60% {
    background-color: rgba(29, 31, 51, 0.7);
  }
  100% {
    background-color: transparent;
  }
}
.apocalypse__heading4 {
  font-size: 2.5vw;
  padding: 1%;
  position: absolute;
  left: 3vw;
  top: 5vw;
  z-index: 2;
  animation: heading1 2s, white-text 10s 4s;
  animation-fill-mode: forwards;
}
@keyframes heading4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes white-text {
  0% {
    color: #000000;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #000000;
  }
}
.apocalypse__heading4-2 {
  animation: apocalypse 1s 2s;
  animation-fill-mode: forwards;
  font-family: sans-serif;
  font-size: 7em;
  text-align: center;
  padding: 0 100px;
  opacity: 0;
  position: absolute;
  top: 10vw;
  z-index: 2;
}
@keyframes apocalypse {
  0% {
    opacity: 0;
    transform: translateX(-300%);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.apocalypse__dead-frog1 {
  opacity: 0;
  width: 10vw;
  position: absolute;
  left: 10vw;
  z-index: 3;
  animation: dead-frog 7s 4s 1 forwards;
}
.apocalypse__dead-frog2 {
  opacity: 0;
  width: 10vw;
  position: absolute;
  left: 25vw;
  z-index: 1;
  animation: dead-frog 12s 4s 1 forwards;
}
.apocalypse__dead-frog3 {
  opacity: 0;
  width: 10vw;
  position: absolute;
  left: 40vw;
  z-index: 3;
  animation: dead-frog 6s 4s 1 forwards;
}
.apocalypse__dead-frog4 {
  opacity: 0;
  width: 10vw;
  position: absolute;
  left: 55vw;
  z-index: 3;
  animation: dead-frog 9s 4s 1 forwards;
}
.apocalypse__dead-frog5 {
  opacity: 0;
  width: 10vw;
  position: absolute;
  left: 65vw;
  z-index: 1;
  animation: dead-frog 7s 4s 1 forwards;
}
.apocalypse__dead-frog6 {
  opacity: 0;
  width: 10vw;
  position: absolute;
  left: 80vw;
  z-index: 3;
  animation: dead-frog 10s 4s 1 forwards;
}
@keyframes dead-frog {
  0% {
    opacity: 0;
    transform: translateY(-100);
  }
  5% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    transform: translateY(500%) rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: translateY(1000%);
  }
}

.to-do {
  display: block;
  position: relative;
}

.touch-frog {
  display: block;
  position: relative;
  height: 100vh;
}
.touch-frog__heading1 {
  z-index: 2;
  animation: heading1 2s;
}
.touch-frog__heading2 {
  opacity: 0;
  animation: heading1 2s 2s;
}
.touch-frog__frog {
  width: 10vw;
  left: 45vw;
  top: 30vw;
  position: absolute;
}
.touch-frog__frog:hover {
  transform: translateX(20vh);
}
.touch-frog__frog:hover + .touch-frog__warning-box {
  visibility: visible;
}
.touch-frog__warning-box {
  position: absolute;
  top: 35%; /* Distance from frog */
  left: 45%; /* Distance from right edge */
  background-color: rgba(255, 0, 0, 0.8); /* Red with transparency */
  color: white;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden; /* Initially hidden */
  transition: visibility 0.3s ease; /* Add transition for smooth appearance */
  z-index: 1;
}

.touch-frog__warning-box {
  position: absolute;
  top: 35%; /* Distance from frog */
  left: 45%; /* Distance from right edge */
  background-color: rgba(255, 0, 0, 0.8); /* Red with transparency */
  color: white;
  padding: 30px;
  border-radius: 10px;
  visibility: hidden; /* Initially hidden */
  transition: visibility 0.3s ease; /* Add transition for smooth appearance */
  z-index: 1;
}

@keyframes jump-in {
  0% {
    left: 10vw; /* Start off the left side */
  }
  100% {
    left: 50vw; /* End position where it's supposed to be */
  }
}
.frog-habitat {
  display: block;
  position: relative;
  height: 100vh;
}
.frog-habitat__heading1 {
  animation: heading1 2s;
}
.frog-habitat__heading2 {
  opacity: 0;
  animation: heading1 2s 2s;
}
.frog-habitat__action-button {
  display: none;
  position: fixed;
  top: 25vw;
  right: 45%;
  background-color: rgb(219, 139, 41);
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.frog-habitat__action-button.show {
  display: block;
}

@keyframes slideInFromRightFrog1 {
  from {
    right: -10vw; /* Starting position outside the viewport */
  }
  to {
    right: 30vw; /* Final position */
  }
}
@keyframes slideInFromLeftFrog2 {
  from {
    left: -40vw; /* Starting position outside the viewport */
  }
  to {
    left: 15vw; /* Final position */
  }
}
@keyframes slideInFromLeftFrog3 {
  from {
    left: -40vw; /* Starting position outside the viewport */
  }
  to {
    left: 33vw; /* Final position */
  }
}
.cat-walk {
  display: block;
  position: relative;
  height: 120vh;
}
.cat-walk__heading1 {
  opacity: 0;
  animation: heading1 2s, white-text 10s 4s;
  animation-fill-mode: forwards;
}
.cat-walk__heading2 {
  opacity: 0;
  animation: heading1 2s 2s, white-text 10s 4s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.cat-walk__night {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-position: center;
  animation: night-sky 10s 2s;
  animation-fill-mode: forwards;
}
.cat-walk__moon {
  width: 20vh;
  left: 80vw;
  top: 2vw;
  position: absolute;
}
.cat-walk__cat--walk {
  left: 70vw;
  top: 25vw;
  display: inline-block;
  position: absolute;
  max-width: 20vh;
  height: 20vh;
  left: 15vw;
  bottom: -10vw;
  animation: move-cat 5s forwards, fade-out 2s 4s forwards;
}
.cat-walk__frog--walk {
  width: 10vw;
  right: -10vw;
  top: 20vw;
  position: absolute;
  animation: slideInFromRight 7s 5s forwards, bounce2 3s 0.5s infinite;
}

@keyframes move-cat {
  0% {
    bottom: 5vw;
    left: 100vw;
  }
  100% {
    bottom: calc(75% - 15vw);
    left: 5vh;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideInFromRight {
  from {
    right: -10vw; /* Starting position outside the viewport */
  }
  to {
    right: 45vw; /* Final position */
  }
}
@keyframes night-sky {
  0% {
    background-color: transparent;
  }
  60% {
    background-color: rgba(29, 31, 51, 0.7);
  }
  100% {
    background-color: transparent;
  }
}
.unsg {
  display: block;
  position: relative;
  height: 100vh;
}
.unsg__heading1 {
  opacity: 0;
  animation: heading1 2s;
  animation-fill-mode: forwards;
}
.unsg__frog {
  width: 30vw;
  left: 50vw;
  top: 18vw;
  position: absolute;
  animation: bounce2 3s 0.5s infinite; /* Using 'infinite' to repeat indefinitely */
}
.unsg__15 {
  width: 32vw;
  left: -40vw; /* Initially position the element outside the viewport */
  top: 12vw;
  position: absolute;
  animation: slideInFromLeft 1.5s forwards; /* Apply the animation */
}
@keyframes slideInFromLeft {
  from {
    left: -40vw; /* Starting position outside the viewport */
  }
  to {
    left: 5vw; /* Final position */
  }
}
.unsg__text {
  position: absolute;
  top: 40vw;
  left: 5vw;
  animation: slideInFromLeft 2s forwards;
  color: black;
}/*# sourceMappingURL=frogstory.css.map */