@font-face {
  font-family: Caveat;
  src: url(font/Caveat-Regualar.ttf);
}
@media (prefers-reduced-motion: reduce) {
  .moon {
    animation: moveMoon 30s infinite ease-in-out;
  }
  path {
    animation: moveAlongPath 40s infinite alternate;
  }
}
body {
  font-family: Caveat;
  font-size: 20px;
}

.container {
  position: relative;
}

#miljo {
  color: green;
}

.heading {
  font-family: sans-serif;
  position: absolute;
  margin-left: 5%;
  margin-right: 50%;
  font-size: 2vw;
}
.heading__first {
  margin-top: 10%;
  color: #005BA7;
}
.heading__second {
  font-family: Caveat;
}

textPath {
  position: absolute;
}

.single__paragraph {
  position: absolute;
  font-size: 1.5vw;
  margin-left: 5%;
  margin-right: 45%;
  margin-top: 32%;
  color: white;
}

.container {
  position: relative;
  /*The small earth patch*/
}
.container__pollution {
  position: absolute;
  top: 47vw;
  left: 15vw;
  width: 74vw;
}
.container__kids {
  position: absolute;
  top: 57vw;
  left: 15vw;
  width: 72vw;
}
.container__earth {
  position: absolute;
  width: 100%;
  top: 81vw;
}
.container__earth__h3 {
  position: absolute;
  top: 100vw;
  left: 40vw;
  font-size: 3vw;
}
.container__earth__p {
  position: absolute;
}
.container__earth__p__left {
  position: absolute;
  top: 95vw;
  left: 15vw;
  max-width: 10vw;
  font-size: 1.7vw;
}
.container__earth__p__top {
  position: absolute;
  top: 85vw;
  left: 45vw;
  max-width: 15vw;
  font-size: 1.7vw;
}
.container__earth__p__right {
  position: absolute;
  top: 90vw;
  left: 86vw;
  max-width: 7vw;
  font-size: 1.7vw;
}
.container__earth__p__right__bottom {
  position: absolute;
  top: 118vw;
  left: 85vw;
  max-width: 10vw;
  font-size: 1.7vw;
}
.container__earth-patch {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 100% 45% 62% 58%/67% 98% 76% 36%;
  background-color: #A1CF6D;
  border: 2px solid black;
  top: 110vw;
  left: 45vw;
}
.container__earth-patch__mail {
  position: absolute;
  max-width: 10vw;
  font-size: 2vw;
}

#car {
  position: absolute;
  top: 10vw;
}

@keyframes moveMoon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.moon {
  animation: moveMoon 5s infinite ease-in-out;
}

path {
  animation: moveAlongPath 4s infinite alternate;
}

.lightred {
  opacity: 0.38;
  fill: #C77161;
}

.lightblue {
  opacity: 0.15;
  fill: #00B1DC;
}

.blue {
  fill: #005BA7;
}

.white {
  fill: #FFFFFF;
}

.car__color {
  fill: #C77161;
}

.car__lines {
  stroke: #000000;
  stroke-width: 4.206;
  stroke-miterlimit: 10;
}

.stars__color {
  fill: #F5EC43;
  stroke: #000000;
  stroke-width: 4.6017;
  stroke-miterlimit: 10;
}

.moon {
  fill: #EAEAE9;
  stroke: #000000;
  stroke-width: 4.206;
  stroke-miterlimit: 10;
}

.moon__eyes {
  fill: #000000;
  stroke-width: 4.6017;
  stroke-miterlimit: 10;
}

.moon__circles {
  fill: #B4B6B7;
  stroke: #000000;
  stroke-width: 4.6017;
  stroke-miterlimit: 10;
}/*# sourceMappingURL=poster.css.map */