body {
    background-color: aliceblue;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2 {
    font-family: sans-serif;
    position: relative;
    text-align: center;
}

h3 {
    font-family: serif;
    position: inherit;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 25vw;
}


.projects {
    display: flex;
    flex-direction: row;
    &__original{
        flex-direction: column;
        margin: 1vw;
        &__img {
            max-width: 25vw;
        }
    }
    &__improved{
        flex-direction: column;
        margin: 1vw;
    }
}